@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #4F200D;
    --secondary-color: #E3F6FF;
    --tertiary-color: #E4F1FF;
    --hover-color: #4F200D;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0 0 15%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    text-transform: uppercase;
}


.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;

}

/* main */
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

body {
    box-sizing: border-box;
    /* height: 100vh; */
    background: black;
    color: var(--tertiary-color);
}

/* h1 strong */
.titulo-destaque {
    color: var(--primary-color);
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo h1 {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo p {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--primary-color);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--tertiary-color);
    font-family: 'Montserrat', sans-serif;

}

.apresentacao__links__navegacao:hover {
    background-color: var(--hover-color);
}

.apresentacao_imagem {
    width: 50%;
}

.rodape {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 24px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width:1200px) {
    :root {
        --primary-color: #5CD2E6;
        --secondary-color: #3E001F;
        --tertiary-color: #2B2A4C;
        --hover-color: #4F200D;
    }

    body {
        background: white;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 8%;
    }

    .apresentacao__conteudo {
        width: 100%;

    }

    .apresentacao_imagem {
        width: 100%;

    }

    .apresentacao__links__navegacao {
        width: 100%;

    }

}


@media (max-width: 768px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 8%;
    }

    .apresentacao__conteudo {
        width: 100%;

    }

    .apresentacao_imagem {
        width: 100%;

    }

    .apresentacao__links__navegacao {
        width: 100%;

    }
}
